<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Administrador</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <style>
    .action-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 8px; /* Espaciado entre los botones */
    }
    .siglas-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="container" role="main">
    <app-menu></app-menu>
    <main aria-label="Contenido principal">
        <section>
            <div class="title" role="heading" aria-level="2">Gestión de Facultades</div>
            <table>
              <thead>
                <tr>
                  <th style="width: 40%;">Nombre Facultad</th>
                  <th style="width: 30%;">Siglas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fac of facultades">
                  <td>
                    <ng-container *ngIf="editarFacultadId === fac.id_facultad; else nombreFacultad">
                      <input [(ngModel)]="editNombreFacultad" />
                    </ng-container>
                    <ng-template #nombreFacultad>{{ fac.nombre_facultad }}</ng-template>
                  </td>
                  <td>
                    <div class="siglas-y-botones">
                      <div class="siglas-texto">
                        <ng-container *ngIf="editarFacultadId === fac.id_facultad; else siglasFacultad">
                          <input [(ngModel)]="editSiglasFacultad" />
                        </ng-container>
                        <ng-template #siglasFacultad>{{ fac.siglas_facultad }}</ng-template>
                      </div>
                      <div class="action-buttons">
                        <ng-container *ngIf="editarFacultadId === fac.id_facultad; else verFacultad">
                          <button (click)="guardarCambiosFacultad(fac.id_facultad)"><i class="fas fa-save"></i></button>
                          <button (click)="cancelarEdicionFacultad()"><i class="fas fa-times"></i></button>
                        </ng-container>
                        <ng-template #verFacultad>
                          <button (click)="editarFacultad(fac)"><i class="fas fa-edit"></i></button>
                          <button (click)="eliminarFacultad(fac.id_facultad)"><i class="fas fa-trash-alt"></i></button>
                        </ng-template>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="facultades.length === 0">
                  <td colspan="2">No hay facultades registradas.</td> <!-- Modificado el colspan a 2 -->
                </tr>
              </tbody>
            </table>
          
            <footer>
              <button class="add-btn" (click)="abrirModalAgregarFacultad()">Agregar</button>
            </footer>
        </section>  
    </main>
  </div>
</body>
</html>

<!-- Modal para agregar nueva facultad -->
<div class="modal" *ngIf="mostrarModalAgregarFacultad" style="display: flex;">
    <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="modal-title-facultad">
      <h2 id="modal-title-facultad">Agregar Facultad</h2>
  
      <label for="nombreFacultad">Nombre:</label>
      <input id="nombreFacultad" type="text" [(ngModel)]="nuevoNombreFacultad" />
  
      <label for="siglasFacultad" class="mt-4">Siglas:</label>
      <input id="siglasFacultad" type="text" [(ngModel)]="nuevasSiglasFacultad" />
  
      <div class="modal-buttons">
        <button type="button" class="add-btn" (click)="confirmarAgregarFacultad()">Guardar</button>
        <button type="button" class="add-btn cancel" (click)="cerrarModalAgregarFacultad()">Cancelar</button>
      </div>
    </div>
  </div>
