<div role="main">
  <main aria-label="Contenido principal">
    <section>
      <div class="container">
        <div class="calculo-reportes">
          <h2 class="title-header">Cálculo de Reportes</h2>

          <!-- Tipo de cálculo -->
          <div class="form-group">
            <label for="tipo">Tipo de cálculo:</label>
            <select id="tipo" [(ngModel)]="selectedTipo" class="styled-select">
              <option value="unidad">Por Unidad</option>
              <option value="facultad">Por Facultad</option>
            </select>
          </div>

          <!-- Contenedor para los selects de facultad y unidad -->
          <div class="form-group-group">
            <!-- Selección de Facultad -->
            <div class="form-group">
              <label for="facultad">Facultad:</label>
              <select id="facultad" [(ngModel)]="selectedFacultad" class="styled-select">
                <option *ngFor="let facultad of facultades" [value]="facultad.id_facultad">
                  {{ facultad.nombre_facultad }}
                </option>
              </select>
            </div>

            <!-- Selección de Unidad (solo visible cuando se elige "unidad") -->
            <div *ngIf="selectedTipo === 'unidad'" class="form-group">
              <label for="unidad">Unidad:</label>
              <select id="unidad" [(ngModel)]="selectedDepartamento" class="styled-select">
                <option *ngFor="let unidad of unidades" [value]="unidad.id_unidad">
                  {{ unidad.nombre_depto }}
                </option>
              </select>
            </div>
          </div>

          <!-- Botón para procesar cálculo -->
          <div class="form-group">
            <button class="add-btn" (click)="generarReporte()">Procesar</button>
          </div>
        </div>
      </div>

      <!-- Modal de resultado -->
      <div *ngIf="mostrarModal" class="modal" style="display: flex;">
        <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="modal-title-calculo">
          <h2 id="modal-title-calculo">Resultado del Cálculo</h2>
          <div class="modal-body">
            <p>{{ mensaje }}</p>
          </div>
          <div class="modal-footer">
            <button class="add-btn" (click)="cerrarModal()">Cerrar</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

