<div aria-label="Página de bienvenida" class="welcome-container" role="main">
  <section class="welcome-box">
    <div class="welcome-text-container">
      <span aria-live="polite" class="welcome-text">
        ¡Bienvenido!
      </span>
      <span aria-live="polite" class="username-text">
        {{ nombreUsuario }}
      </span>
    </div>
    <figure  height="330" width="400">
      <img class="welcome-image"
        alt="Imagen genérica"
        height="330"
        src="img/bienvenido.jpg"
      />
    </figure>
  </section>
</div>